{% extends "base.html" %}

{% block title %}
Dashboard-Overview
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 60px;">
      <div class="row align-items-center">
        
        <div class="col-sm" data-toggle="tooltip" data-placement="top" title="Lexicon Management">
          <a href="{{ url_for('lexicon') }}" class="nav-link overview-icon">
            <i class="fas fa-list-ol" style="font-size: 150px;"></i>
            <h4>Lexicon Managment</h4>
          </a>
        </div>

        <div class="col-sm" data-toggle="tooltip" data-placement="top" title="Language Model Management">
          <a href="{{ url_for('language') }}" class="nav-link overview-icon">
            <i class="fas fa-language" style="font-size: 150px;"></i>
            <h4>Lanuage Model Managment</h4>
          </a>
        </div>

        <div class="col-sm" data-toggle="tooltip" data-placement="top" title="Speech Management">
          <a href="{{ url_for('speech') }}" class="nav-link overview-icon">           
            <i class="fas fa-microphone" style="font-size: 150px;"></i>
            <h4>Speech Management</h4>             
          </a>
        </div>

        <div class="col-sm" data-toggle="tooltip" data-placement="top" title="Decoding History">
          <a href="{{ url_for('decoding') }}" class="nav-link overview-icon">
            <i class="fas fa-history" style="font-size: 150px;"></i>
            <h4>Decoding History</h4>
          </a>
        </div>

      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>

{% endblock %}