{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Lexicon Mangement
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" style="height: 50px; margin-top: -25px;">
          <h5>{{ message }}</h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
      <div class="row">

        <!-- Modal -->
        <div class="container topicname" style="margin-top: -15px;">
          <h1 class="sub-header">Lexicon Management <button type="button" class="btn btn-success float-right btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i> Add Lexicon</button></h1>
          <p>Total Lexicon : {{ count }}</p>
        </div>

        <!-- Modal for Lexicon Management-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Lexicon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-group" action="/insertlexicon" method="POST">

                  <b>Word: </b> <input type="text" name="word" class="form-control" placeholder="Ex: ទៅមុខ" required>
                  <b>Pronounciation: </b> <input type="text" name="pronounciation" class="form-control" placeholder="Ex: t av m u k" required>
                  <b>Utterance ID: </b> <input type="text" name="utteranceid" class="form-control" placeholder="Ex: 001" required>
                  <input type="submit" class="btn btn-warning btn-sm" style="margin-top: 5px;">
    
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end Modal for Lexicon Management-->

        <br><br>

        <!-- Table to show all lexicon from database -->
        <div class="table-responsive container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Word</th>
                <th>Pronounciation</th>
                <th>Utterance ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              {% for lexicon in lexiconall %}
              <tr>
                <td><input type="checkbox"></td>
                <td>{{ loop.index }}</td>
                <td>{{ lexicon.word }}</td>
                <td>{{ lexicon.pronounciation }}</td>
                <td>{{ lexicon.utteranceid }}</td>
                <td>
                  <a href="/updatelexicon/{{lexicon.id}}" data-toggle="modal" data-target="#exampleModalCenter{{lexicon.id}}">
                    <i class="far fa-edit" style="margin-right: 15px; color: green;"></i>   
                  </a>

                  <a href="/delete/{{lexicon.id}}" onclick="return confirm('Are sure to Delete?')">
                    <i class="fas fa-trash-alt" style="color: red;"></i>
                  </a>
        
                </td>
              </tr>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter{{lexicon.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Update Lexicon</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" action="{{ url_for('updatelexicon') }}" method="POST">
                        <input type="hidden" name="id" value="{{lexicon.id}}">
                        <b>Word: </b> <input type="text" name="word" class="form-control" value="{{lexicon.word}}">
                        <b>Pronounciation: </b> <input type="text" name="pronounciation" class="form-control" value="{{lexicon.pronounciation}}">
                        <b>Utterance ID: </b> <input type="text" name="utteranceid" class="form-control" value="{{lexicon.utteranceid}}">
                        <button type="submit" class="btn btn-warning btn-sm" style="margin-top: 5px;">Update</button>
          
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Modal -->
              {% endfor %}
          
            </tbody>
          </table>
        </div>

      </div>
    </div>

{% endblock %}