{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<script src="https://kit.fontawesome.com/ef323b5b2a.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    {% include "includes/nav.html" %}

  <div class="container">

    <form class="form-signin" method="POST" action="/signup">
      <br>
      <h2 class="form-signin-heading" style="text-align: center;">Sign Up</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.password_confirm) }}
      <button class="btn btn-lg btn-warning" type="submit">Sign Up</button>
      <br>
    </form>

  </div> <!-- /container -->
{% endblock %}